@charset "utf-8";
html{font-size:62.5%;}
body{color:#595A6B;font-size:12px;font-family:"Microsoft YaHei","simsun","tahoma", "arial";_font-family:"simsun","arial";
    background:transparent;}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}
a{text-decoration:none;color:#595A6B}
a:hover{color:#FD6543;text-decoration: none}
.maxLen {
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block !important;
    display: inline-block;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.wrapper{
    margin:0 auto;
    width:950px;
    position: relative;
}